.admin-login-form-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 500;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.admin-login-form {
    flex: 1;
    max-width: 450px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    height: 37px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.admin-login-form button {
    height: 40px;
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.admin-login-form button:hover:not(:disabled) {
    background-color: #357abd;
    transform: scale(1.02);
}

.login-logo {
    width: 130px;
    height: auto;
    display: block;
    margin: auto;
}

.admin-login-form p {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .login-content {
        flex-direction: row;
        align-items: center;
    }

    .login-logo {
        display: none;
    }

    .admin-login-form {
        max-width: 100%;
    }
}